html, body {
    height: 100%;
    height: 100vh;
}

body {
/*    background-color: #abc;*/
/*    background: url("../img/bg-1.jpg");*/
    background: url("../img/bg-2.jpg");
    background-size: cover;
}

body.dark:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.65;
  background: #000;
}

body.elegant{
    background: #f0f0f0 url('../img/bg-elegant.gif') repeat;
}

.panel-primary {
    background: rgba(255,255,255,.6);
    border: none;
}

.dark .panel-primary {
    background: rgba(25,25,25,.65);
    border: none;
}

.elegant .panel-primary {
    background: none;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #B3A9A9;
}

.dark .chat li {
  border-bottom: none;
}

.elegant .chat li{
    border-bottom-color: #ddd;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.elegant .chat li .chat-body p {
    color: #444;
}

.elegant .list-group,
.elegant .list-group-item {
    background-color: transparent;
    border: none;
}

.elegant .nav-tabs>li.active>a,
.elegant .nav-tabs>li.active>a:focus,
.elegant .nav-tabs>li.active>a:hover {
  background: url('../img/bg-elegant.gif') transparent repeat;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.panel .slidedown .glyphicon, .chat .glyphicon {
  margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 450px;
}

.panel > .alert{
    margin-bottom: 0;
    display: none
}

.panel > .alert.in{
    display: block
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}

::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #555;
}